<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://u.cubeupload.com/almanaclmao337/zz.png">

    <title>Profile | U-Trace</title>

     <!--- Locals: CSS --->
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/adminProfile.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
 
    <!--- Bootstrap 5: CSS Dependencies --->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="../node_modules/mdbootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="../node_modules/mdbootstrap/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body id="body-pd">  
    <!-- Bootstrap Sidebar -->
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <h3 class="u-trace-white">U-TRACE | ADMINISTRATOR PANEL</h3>
        <div class="header_img">  </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">MENU</span> </a>
                <div class="nav_list">
                   {{#if systemAdmin}}
                            <a href="/" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                            <a href="/contactTracing/contact-tracing_panel" class="nav_link"> <i class='bx bx-network-chart nav_icon'></i> <span class="nav_name">Contact Tracing</span> </a>
                           {{!-- <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Report Generation</span> </a> --}}
                            <a href="/usersInfo/users-info_panel" class="nav_link"> <i class='bx bx-data nav_icon'></i> <span class="nav_name">User Database</span> </a>
                            <a href="/addUser/add-userAdmin" class="nav_link"> <i class='bx bx-plus-circle nav_icon'></i> <span class="nav_name">Add User Admin</span> </a>
                            <a href="#" class="nav_link active"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Profile</span> </a>
                            {{!-- <a href="/faq/faq-page" class="nav_link"> <i class='bx bx-help-circle nav_icon'></i> <span class="nav_name">Help Page</span> </a> --}}
                            <a href="/settings/admin-settings" class="nav_link"> <i class='bx bx-cog nav_icon'></i> <span class="nav_name">Configurations</span> </a>
                           {{else if healthAuthority}}
                            <a href="/" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                            <a href="/contactTracing/contact-tracing_panel" class="nav_link"> <i class='bx bx-network-chart nav_icon'></i> <span class="nav_name">Contact Tracing</span> </a>
                           {{!-- <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Report Generation</span> </a> --}}
                            <a href="/usersInfo/users-info_panel" class="nav_link"> <i class='bx bx-data nav_icon'></i> <span class="nav_name">User Database</span> </a>
                            <a href="/userVaxInfo/updateUserVaxInfo" class="nav_link"> <i class='bx bxs-capsule nav_icon'></i> <span class="nav_name">Update Vaccine Info</span> </a>
                            <a href="/userTestInfo/newUserTestResult" class="nav_link"> <i class='bx bxs-spreadsheet nav_icon'></i> <span class="nav_name">Add Test Result</span> </a>
                            <a href="#" class="nav_link active"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Profile</span> </a>
                            {{!-- <a href="/faq/faq-page" class="nav_link"> <i class='bx bx-help-circle nav_icon'></i> <span class="nav_name">Help Page</span> </a> --}}
                            {{else if LGU}}
                              <a href="/" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                            <a href="/contactTracing/contact-tracing_panel" class="nav_link"> <i class='bx bx-network-chart nav_icon'></i> <span class="nav_name">Contact Tracing</span> </a>
                            <a href="/usersInfo/users-info_panel" class="nav_link"> <i class='bx bx-data nav_icon'></i> <span class="nav_name">User Database</span> </a>
                            <a href="#" class="nav_link active"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Profile</span> </a>
                            {{!-- <a href="/faq/faq-page" class="nav_link"> <i class='bx bx-help-circle nav_icon'></i> <span class="nav_name">Help Page</span> </a> --}}
                           {{/if}}
                </div>
            </div> <a href="/user/signout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Logout</span> </a>
        </nav>
    </div>

    <!-- Modal: Success -->
    <div id="modal-success" class="modal-s">
      <div class="modal-content-s">
        <div class="modal-header-s">
          <span class="close">&times;</span>
          <h3>UPDATE SUCCESS</h3>
        </div>
        <div class="modal-body-s">
          <p>Your password was successfully updated.<p>
        </div>
      </div>
    </div>

    <!-- Modal: New Password Discrepancy -->
    <div id="modal-pwDiscrepancy" class="modal-s">
      <div class="modal-content-s">
        <div class="modal-header-f">
          <span class="close">&times;</span>
          <h3>UPDATE FAILED</h3>
        </div>
        <div class="modal-body-s">
          <p>Passwords do not match.<p>
        </div>
      </div>
    </div>

    <!-- Modal: Incorrect Current Password -->
    <div id="modal-incPw" class="modal-s">
      <div class="modal-content-s">
        <div class="modal-header-f">
          <span class="close">&times;</span>
          <h3>UPDATE FAILED</h3>
        </div>
        <div class="modal-body-s">
          <p>Current password entered is incorrect.<p>
        </div>
      </div>
    </div>

    <!-- Modal: Unknown Error -->
    <div id="modal-error" class="modal-s">
      <div class="modal-content-s">
        <div class="modal-header-f">
          <span class="close">&times;</span>
          <h3>UPDATE FAILED</h3>
        </div>
        <div class="modal-body-s">
          <p>An error within the servers occured. Please try again later.<p>
        </div>
      </div>
    </div>

    <!-- Modal: Passwords : Less Than 6 Characters -->
    <div id="modal-pwLessThan6" class="modal-s">
      <div class="modal-content-s">
        <div class="modal-header-f">
          <span class="close">&times;</span>
          <h3>UPDATE FAILED</h3>
        </div>
        <div class="modal-body-s">
          <p>Entered password(s) are less than 6 characters in length.<p>
        </div>
      </div>
    </div>

    <!-- Header -->
    <div>
        <h2 class="header-primary">PROFILE</h2>
        <span class="header-secondary">View your profile information. You may also change or update your password here.</span>
    </div>

    <!-- User Information (Display Only) -->
    <div class="flex-container-header"> <div class="flex-child-header dashboard-header"> USER INFORMATION </div> </div>

    <div class="flex-container">
        <div class="flex-child">
            <label class="form-label u-trace-green">Name:</label>
            <input type="text" class="form-control view" value="{{currAdminDetails.name}}" disabled>
        </div>
        <div class="flex-child">
            <label class="form-label u-trace-green">Email:</label>
            <input type="email" class="form-control" value="{{currAdminDetails.email}}" disabled>
        </div>
        <div class="flex-child" style="padding-right: 0em;">
            <label class="form-label u-trace-green">User Type:</label>
            <input type="text" class="form-control" value="{{currAdminDetails.type}}" disabled>
        </div>
    </div>
    
    <div class="flex-container">
        <div class="flex-child">
            <label class="form-label u-trace-green">Region:</label>
            <input type="text" class="form-control" value="{{currAdminDetails.region}}" disabled>
        </div>
        <div class="flex-child" style="padding-right: 0em;">
            <label class="form-label u-trace-green">Province:</label>
            <input type="text" class="form-control" value="{{currAdminDetails.province}}" disabled>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-child">
            <label class="form-label u-trace-green">City:</label>
            <input type="text" class="form-control" value="{{currAdminDetails.city}}" disabled>
        </div>
        <div class="flex-child" style="padding-right: 0em; padding-bottom: 1em;">
            <label class="form-label u-trace-green">Barangay:</label>
            <input type="text" class="form-control" value="{{currAdminDetails.barangay}}" disabled>
        </div>
    </div>

    <!-- Update Password (AJAX) -->
    <div class="flex-container-header"> <div class="flex-child-header dashboard-header"> UPDATE PASSWORD </div> </div>

    <div class="flex-container">
        <div class="flex-child">
            <label for="currPw" class="form-label u-trace-green">Current Password:</label>
            <input type="password" class="form-control" id="currPw" name="currPw">
        </div>
        <div class="flex-child">
            <label for="newPw" class="form-label u-trace-green">New Password:</label>
            <input type="password" class="form-control" id="newPw" name="newPw">
        </div>
        <div class="flex-child">
            <label for="newConfirmPw" class="form-label u-trace-green">Confirm New Password:</label>
            <input type="password" class="form-control" id="newConfirmPw" name="newConfirmPw">
        </div>
    </div>

    <button id="updatePwBtn" type="submit" class="button" disabled> <span>Update Password</span> </button>

    <!--- Locals: JS --->
    <script src="../public/scripts/adminProfile.js"></script>
    <!--- Bootstrap 5: JS Dependencies --->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../node_modules/mdbootstrap/js/jquery.min.js" type="text/javascript"></script>
    <script src="../node_modules/mdbootstrap/js/popper.min.js" type="text/javascript"></script>
    <script src="../node_modules/mdbootstrap/js/bootstrap.min.js" type="text/javascript" ></script>
    <script src="../node_modules/mdbootstrap/js/mdb.min.js" type="text/javascript"></script>
    <script src = "http://code.jquery.com/jquery-1.10.1.min.js" type= "text/javascript"></script>
    <!--- Region Dropdown Dependencies --->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src = "../public/scripts/regionsdropdown.js"></script>
    <script type='text/javascript' rel='js/handlebars-v4.0.5.js'></script>
    
</body>
</html>