<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://u.cubeupload.com/almanaclmao337/zz.png">

    <title>Contact Tracing | U-Trace</title>

    <!--- Locals: CSS --->
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css//contactTracing.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
 
    <!--- Bootstrap 5: CSS Dependencies --->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="../node_modules/mdbootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="../node_modules/mdbootstrap/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       
    <!--- AnyChart | Network Graph: JS Dependencies --->
   
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-core.min.js"></script>
     <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-graph.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-data-adapter.min.js"></script>
    

    <!--- JSPDF | JS Dependencies --->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.5/jspdf.plugin.autotable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- Search | Tom Select Dependencies -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0-rc.5/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0-rc.5/dist/js/tom-select.complete.min.js"></script>

</head>

<body id="body-pd">  
    <!-- Bootstrap Sidebar -->
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <h3 class="u-trace-white">U-TRACE | ADMINISTRATOR PANEL</h3>
        <div class="header_img"> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">MENU</span> </a>
                <div class="nav_list">
                  {{#if systemAdmin}}
                           <a href="/" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                            <a href="#" class="nav_link active"> <i class='bx bx-network-chart nav_icon'></i> <span class="nav_name">Contact Tracing</span> </a>{{!-- <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Report Generation</span> </a> --}}
                            <a href="/usersInfo/users-info_panel" class="nav_link"> <i class='bx bx-data nav_icon'></i> <span class="nav_name">User Database</span> </a>
                            <a href="/addUser/add-userAdmin" class="nav_link"> <i class='bx bx-plus-circle nav_icon'></i> <span class="nav_name">Add User Admin</span> </a>
                            <a href="/user/admin-profile" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Profile</span> </a>
                            {{!-- <a href="/faq/faq-page" class="nav_link"> <i class='bx bx-help-circle nav_icon'></i> <span class="nav_name">Help Page</span> </a> --}}
                            <a href="/settings/admin-settings" class="nav_link"> <i class='bx bx-cog nav_icon'></i> <span class="nav_name">Configurations</span> </a>
                           {{else if healthAuthority}}
                            <a href="/" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                             <a href="#" class="nav_link active"> <i class='bx bx-network-chart nav_icon'></i> <span class="nav_name">Contact Tracing</span> </a>{{!-- <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Report Generation</span> </a> --}}
                            <a href="/usersInfo/users-info_panel" class="nav_link"> <i class='bx bx-data nav_icon'></i> <span class="nav_name">User Database</span> </a>
                            <a href="/userVaxInfo/updateUserVaxInfo" class="nav_link"> <i class='bx bxs-capsule nav_icon'></i> <span class="nav_name">Update Vaccine Info</span> </a>
                            <a href="/userTestInfo/newUserTestResult" class="nav_link"> <i class='bx bxs-spreadsheet nav_icon'></i> <span class="nav_name">Add Test Result</span> </a>
                            <a href="/user/admin-profile" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Profile</span> </a>
                            {{!-- <a href="/faq/faq-page" class="nav_link"> <i class='bx bx-help-circle nav_icon'></i> <span class="nav_name">Help Page</span> </a> --}}
                            {{else if LGU}}
                             <a href="/" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                             <a href="#" class="nav_link active"> <i class='bx bx-network-chart nav_icon'></i> <span class="nav_name">Contact Tracing</span> </a>
                             <a href="/usersInfo/users-info_panel" class="nav_link"> <i class='bx bx-data nav_icon'></i> <span class="nav_name">User Database</span> </a>
                             <a href="/user/admin-profile" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Profile</span> </a>
                             {{!-- <a href="/faq/faq-page" class="nav_link"> <i class='bx bx-help-circle nav_icon'></i> <span class="nav_name">Help Page</span> </a> --}}
                    {{/if}}
                    </div>
            </div> <a href="/user/signout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>

    <!-- Header -->
    <div>
        <h2 class="header-primary">LIST OF INFECTED PERSONS</h2>
        <span class="header-secondary">This shows a visual graph of specific close contacts of a selected person. This also allows you to notify the people possibly in close contact with a certain individual.</span>
    </div>
  
    <!-- Body Actual -->

    <!-- The Modal -->
    <div id="myModal" class="modal-s">
      <!-- Modal content -->
      <div class="modal-content-s">
        <div class="modal-header-s">
          <span class="close">&times;</span>
          <h3>SUCCESS</h3>
        </div>
        <div class="modal-body-s">
          <p>The selected user(s) have been notified of their status as a close contact.<p>
        </div>
      </div>
    </div>

    <!-- Search Bar  -->
    <div class="flex-container"> 
        <div class="flex-child ">
            <div style="margin: 1em; text-align:left;">
                <select id="positives-list" placeholder="Select a person..." autocomplete="off">
	            <option value="" selected disabled>Select a person...</option>
                {{#each users}}
                <option value="{{this.objectID}}">{{this.firstname}} {{this.lastname}} ({{this.objectID}})</option>
                {{/each}}
		        </select>
            </div>
        </div>
    </div>
    <!-- Graph -->
    <div id="divGraph" class="flex-container" style="height: 30em;" hidden> 
        <div class="flex-child">
            <div class="sen">
                <div id="container"></div>
            </div>
        </div>
    </div>

    <!-- User Details & Close Contacts -->
    <div class="flex-container" id="contactsTable" style="margin-bottom: 1em;">
        <div class="flex-child" id="AddData" hidden>
           <div style="text-align:left;">
               <div id="divTable" style="margin-left: 1em; margin-right:1em;" hidden>
                   <h4 id="positiveHead"style="padding-top:1em; margin-bottom:0em;"></h4>
                   <button id="notifyAll" class="button" style="margin-left: 0em; margin-top:1em; width:15em; padding:0.3em; font-size:0.7em;"><span>Notify Selected Users</span></button>
                   <button id="downloadPDF" class="button" style="margin-left: 0em; margin-top:1em; width:15em; padding:0.3em; font-size:0.7em;"><span>Download as PDF</span></button>
                   <table id="cctable" class="table" style="color: #235233;">
                    <thead id="ccTableHeaders">
                        <tr>
                            <th scope="col" style="font-size: 12px; font-weight: bold;">UID</th>
                            <th scope="col" style="font-size: 12px; font-weight: bold;;">Name</th>
                            <th scope="col" style="font-size: 12px; font-weight: bold;">Phone Number</th>
                            <th scope="col" style="font-size: 12px; font-weight: bold;">Barangay</th>
                            <th scope="col" style="font-size: 12px; font-weight: bold;">City</th>
                            <th scope="col" style="font-size: 12px; font-weight: bold;">Province</th>
                            <th scope="col" style="font-size: 12px; font-weight: bold;">Region</th>
                            <th scope="col" style="font-size: 12px; font-weight: bold;">Status</th>
                            <th scope="col" style="font-size: 12px; font-weight: bold;">Last Test Date</th>
                            <th scope="col" style="font-size: 12px; font-weight: bold;"><input type="checkbox" value="" id="checkAll"></th>
                        </tr>
                    </thead>
                    <tbody id="ccTableDetails">
                    </tbody>
                    </table>
               </div>
           </div>
        </div>
    </div>

    <div style="margin-top:0.5em;">
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="margin-bottom: 0px;">

                <!-- PREVIOUS PAGE -->
                <li id="prevBtn" class="page-item disabled" hidden>
                    <a class="page-link" style="background-color: whitesmoke;" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>

                

                <!-- NEXT PAGE -->
                <li id="nextBtn" class="page-item" hidden>
                    <a class="page-link" style="background-color: whitesmoke;" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
  
    <!--- Locals: JS --->
    <script src="../public/scripts/contactTracing.js"></script>
    <script  src="../public/scripts/anychart.js"></script>
    <!--- Bootstrap 5: JS Dependencies --->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../node_modules/mdbootstrap/js/jquery.min.js" type="text/javascript"></script>
    <script src="../node_modules/mdbootstrap/js/popper.min.js" type="text/javascript"></script>
    <script src="../node_modules/mdbootstrap/js/bootstrap.min.js" type="text/javascript" ></script>
    <script src="../node_modules/mdbootstrap/js/mdb.min.js" type="text/javascript"></script>
</body>
</html>